.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

.logout-btn {
  margin-top: 20px;
  text-decoration: none;
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}
